/* ======== M I S E    E N   P A G E ======== */
    body{

        /* background: url(../img/banner_chat.gif); */
        color: #000305;
        font-size: 87.5%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .body{
        margin: 0 auto;
        width: 90%;
        clear: both;
    }
/* ======== F I N   M I S E    E N   P A G E ======== */

.form{
    float: right;
    margin-right: 26%;
}

form{
    position: absolute;
    top: 86.5%;
    right: 29%;
}

.message{
    position: absolute; 
    top: 24%;
    right: 45.3%;
}

p{
    width: 140%;
    padding: 10px;
    background-color: #4970b3;
    border-radius: 20px;
    color: #e6e7e9;
    font-size: 9px;
    box-shadow: 0 5px 10px 0 rgba(22, 24, 28, 0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}

.btn-supprimer{
    float: right;
    margin-top: -15px;
    margin-right: -10px;
    color: white;
    background-color: red;
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 15px;
}

.btn-supprimer:hover{
    color: red;
    background-color: white;
}

small{
    font-size: 7px;
    float: right;
}

strong{
    color: black;
}

.ok{
    background-color: yellowgreen;
    font-weight: bold;
    border: none;
}

.ok:hover{
    background-color: #4a4a4a;
     color: white;
}

.tel1{
    width: 110%;
    height: 97vh;
}

input{
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #4a4a4a;
}
.pseudo{
    width: 13%;
}

.param{
    position: absolute;
    top: 11%;
    right: 39.5%;
    font-size: 20px;
    color: white;
}

.param:hover{
    color: yellowgreen;
}


 /* I N F O R MA T I O N   S U R   L' E Q U I P E */
    .infos{ 
        visibility: hidden;
        display: table;
        position: fixed;
        top: 11%;
        right: 39.5%;
        width: 11%;
        height: auto;
        padding: 10px;
        background: #12273a;
        border-radius: 10px;
        box-shadow: 3px 10px 50px rgba(0, 0, 0, 0.9), 4px 11px 18px rgba(56, 56, 56, 0.2);
    }

    .infos:target{
        visibility: visible;
    }

    .btn-fermer{
        text-decoration: none;
        position: absolute;
        top: -4%;
        right: -3%;
        font-size: 1em;
        font-weight: 300;
        color: white;
        border-radius:3em;
        font-family: 'Comfortaa', cursive;
        box-shadow:0 0 20px #000;
        padding:.4em .7em;
        background: #f70a0a;
    }

    .btn-fermer:hover{
        color: #f70a0a;
        background: #fff;
    }

    .infos-chat a{
        font-size: 13px;
        text-align: left;
        padding: 10px;
        margin: 5px 0;
        color: #fff;
        /* font-family: sans-serif; */
        font-family: 'Zen Kurenaido', sans-serif;
        letter-spacing: 1px;
        text-decoration: none;
    }
    .infos-chat a:hover{
        color: #4970b3;
    }

   .fa-users{
       color: white;
       margin-right: 5px;
       margin-bottom: 6px;
       padding: 5px;
       background: crimson;
       border-radius: 5px;
   }
   .fa-user-plus{
       color: white;
       margin-right: 5px;
       margin-bottom: 6px;
       padding: 5px;
       background: blue;
       border-radius: 5px;
   }
   .fa-door-open{
       color: white;
       margin-right: 5px;
       margin-bottom: 6px;
       padding: 5px;
       background: darkgoldenrod;
       border-radius: 5px;
   }



   /* I N F O R M A T I O N   S U R   L E S    U T I L I S A T E U R S */
    .users{ 
        visibility: hidden;
        display: table;
        position: fixed;
        top: 11%;
        right: 39.5%;
        width: 7%;
        height: auto;
        padding: 3px;
        background: #12273a;
        border-radius: 10px;
        box-shadow: 3px 10px 50px rgba(0, 0, 0, 0.9), 4px 11px 18px rgba(56, 56, 56, 0.2);
    }

    .users:target{
        visibility: visible;
    }

    .p-users{
        width: 60%;
        padding: 4px;
        background-color: #4970b3;
        border-radius: 20px;
        color: #fff;
        font-size: 9px;
        box-shadow: 0 5px 10px 0 rgba(22, 24, 28, 0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}



