@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap);


*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
    height: 110vh;
    background-image: url(../img/voitures/banner-loc_rech.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


/* ========= B A R R E   D E   N A V I G A T I O N   &   R E C H E R C H E  ========= */
/* .hero_area3 {
    height: 100vh;
    background-image: url(../img/voitures/banner-loc_rech.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  } */
.hero_area.sub_pages {
    height: auto;
  }
  
  .header_section {}
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
    color: #fff;
    text-align: center;
    font-family: 'Zilla Slab', serif;
  }
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link:hover,
  .custom_nav-container.navbar-expand-lg .navbar-nav .active {
    color: #fc5d35;
  }
  
  a{
    text-decoration: none;
  }

  .btn,
  .btn:focus {
    outline: none !important;
    box-shadow: none;
  }
  
  .navbar-brand,
  .navbar-brand:hover {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
  }
  
  
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    width: 60px;
    margin-right: 5px;
  }
  
  .navbar-brand span {
    font-size: 20px;
    font-weight: 700;
    color: #00ccfb;
    margin-top: 5px;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../img/voitures/menu.png);
    background-size: 55px;
  }
  
  .quote_btn-container a {
    display: inline-block;
    padding: 5px 25px;
    background-image: radial-gradient(circle at 0% 30%, #00ccfb, #fc5d35)!important;
    color: #f7f7f7;
    font-size: 14px;
    border-radius: 15px;
    text-transform: uppercase;
  }
  .quote_btn-container a:hover{
    background-image: radial-gradient(circle at 0% 30%, #fc5d35, #00ccfb)!important;
    /* background-image: #80bbe9; */
    text-decoration: none;
  }
  .form-inline{
    font-family: 'Zilla Slab', serif;
    color: #fff;
  }
  /*end header section*/
    .liste{
        text-align: center;
        margin-top: 30px;
        font-family: 'Ephesis', sans-serif;
        color: #fff;
        font-size: 35px;
        letter-spacing: 3px;
        font-weight: lighter;
    }

    input[type="search"],
    input[type="submit"]{
          outline: none;
          padding: 10px;
          border: 1px solid #0079c8;
          border-radius: 5px;
          text-align: center;
    }

    input::placeholder{
        color: rgba(236, 233, 233, 0.3);
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }

    .recherche{
        width: 20%;
        background: #fff;
        font-size: 15px;
        font-family: 'Quicksand', sans-serif;
    }

    .submit{
      font-family: 'Quicksand', sans-serif;
      font-size: 15px;
      color: #fff;
      background-image: linear-gradient(310deg, #06113a,  #00c2f4, #06113a);
    }

    .submit:focus,
    .submit:hover{
      box-shadow: 0 5px 10px 0 rgba(13, 77, 102, 0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
      background: #00bff2;
      border: 1px solid #0289d1;
    }

/* ========= B A R R E   D E   N A V I G A T I O N   &   R E C H E R C H E ========= */



/* === C O N T E N U E    P R I N C I P A L === */  
    .contenue{
        width: 100%;
    }

    .contenue_princcipale {
        overflow-y: auto;
        height: 50vh;
        width: 100%;
    }

    .contenue_princcipale::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .contenue_princcipale::-webkit-scrollbar:vertical {
        width: 21px;
    }

    .contenue_princcipale::-webkit-scrollbar:horizontal {
        height: 5px;
    }

    .contenue_princcipale::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid #00c2f4;
        background-image: linear-gradient(310deg, #06113a,  #e67e22, #06113a);
        
    }

    table{
      width: 90%;
      margin: auto;
      cursor: pointer;
      border-collapse: collapse;
      background-image: linear-gradient(310deg,   #f1a664, #121c3f, #00c2f4);
    }

    thead tr th{
      padding: 10px 15px;
      font-size: 17px;
      background: #2a2f44;
      color: #0289d1;
      border-bottom: 5px solid #00c2f4;
    }

    td{
      text-align: center;
      font-family: 'Zen Kurenaido', sans-serif;
      padding: 7px 15px;
      color: white;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .description{
      text-align: left;
    }

    tbody tr:hover{
        background-image: linear-gradient(310deg, #06113a,  #00c2f4, #06113a);
    }

    .img-voiture{
        width: 200px;
        border-radius: 15px;
    }

    .btn-louer{
        font-size: 15px;
        color: white;
        background-image: linear-gradient(310deg, #06113a,  #00c2f4, #06113a);
        border-radius: 25px;
        padding: 5px 14px;
        font-weight: bold;
        border: 1px solid rgb(255, 255, 255);
    }

    .btn-louer:focus,
    .btn-louer:hover{
      color: #fff;
      background: none;
      border: 1px solid #fff; 
      box-shadow: 0 5px 10px 0 rgba(255, 254, 194, 0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
    }

    tr:nth-child(odd){
        background: rgba(43, 50, 78, .3);
    }
    tr:nth-child(even){
        background: rgba(43, 50, 78, .3);
    }
    .mod{
      background: none;
    }
/* === F I N    C O N T E N U E    P R I N C I P A L === */



/* ======== P I E D   D E   P A G E ========= */
/* info section */
.layout_padding {
  padding: 75px 0;
}
.info_section{
  margin-top: 4rem;
}
.info_section ul {
  padding: 0;
}
.info_section p{
  color: #00c2f4;
}
.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
  color: #00c2f4;
}
.info_section ul li  img{
  width: 25px;
  margin-right: 10px;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
  margin-left: 0rem;
  color: #fc5d35;
  font-family: 'Poppins', arial;
}
/* .active{
  color: #fc5d35;
} */
.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.info_section .form_container input {
  width: 225px;
  height: 30px;
}

.info_section .form_container button {
  /* background-color: #fc5d35; */
  background-image: radial-gradient(circle at 0% 30%, #fc5d35, #00ccfb)!important;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 30px;
  margin-top: 15px;
  font-size: 15px;
}

/* end info section */

 .footerPrincipal{
      width: 100%;
      /* float: left; */
      background-image: radial-gradient(circle at 0% 30%, #1916e6, #dc2032)!important;
      /* margin-right: 10%; */
      padding: .5% 2%;
      margin-top: 2%;
  }
 
  .footerPrincipal p{
      margin: 2% 0;
      text-align: center;
      color: #fff;
      letter-spacing: 1px;
  }
  
/* ======= F I N   P I E D   D E   P A G E ======== */



